<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Entries</span>
  </div>
</nav>
<div class="container mt-3">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel
      title=" {{ i + 1 }} | {{ ent.API }} "
      *ngFor="let ent of entry; let i = index"
    >
      <ng-template ngbPanelContent>
        <ul>
          <li>{{ i + 1 }}</li>
          <li>{{ ent.Description }}</li>
          <li>{{ ent.Auth || "Empty" }}</li>
          <li>{{ ent.HTTPS }}</li>
          <li>{{ ent.Cors }}</li>
          <li>{{ ent.Link }}</li>
          <li>{{ ent.Category }}</li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
